body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sección de Perfil */
#perfil {
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 0;
    background-image: url(img/Banner_Linkedin.png);
}

.perfil-container {
    max-width: 600px;
    margin: auto;
   
}

.foto-perfil {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Sección de Proyectos */
#proyectos {
    padding: 50px 0;
    background-color: #fff;
}

.proyectos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.proyecto {
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.proyecto:hover {
    transform: scale(1.05);
}

.proyecto img {
    width: 100%;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
}

.close {
    color: red;
    float: right;
    font-size: 25px;
    cursor: pointer;
}

/* Estilos para el carrusel secuencial */
#carrusel {
    width: 100%;
    overflow: hidden; /* Oculta las imágenes fuera del área visible */
    position: relative;
}

.carousel-container {
    display: flex;
    width: 200%; /* 3 imágenes, cada una con un ancho del 100% del contenedor */
    animation: desplazamientoSecuencial 15s linear infinite; /* Animación secuencial infinita */
}

.carousel-slide {
    min-width: 16.66%; /* Cada imagen ocupa el 100% del ancho del contenedor */
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

/* Animación para mostrar las imágenes una detrás de otra */
@keyframes desplazamientoSecuencial {
    0% {
        transform: translateX(0); /* Inicia en la primera imagen */
    }
    100% {
        transform: translateX(-50%); /* Termina desplazándose completamente hacia la última imagen */
    }
}